.chat-stream {
  width: 95%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 75%;
}

.chat-stream-content {
  flex-grow: 1;
  overflow: auto;
  min-height: 0;
}
